<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}

    <!-- meta tag per indicizzazione -->    
    {% comment %} <meta name="keywords" content="social networke"> {% endcomment %}
    {% comment %} <meta name="description" content="social network"> {% endcomment %}

    <!-- favicon -->
    {% load static %}
    {% comment %} <link rel="shortcut icon" href="{% static 'img/metaglossary_favicon_6.png' %}" /> {% endcomment %}
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% comment %}  scelta del font {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    {% comment %} linkare i css che inserisco io per il blog {% endcomment %}
    <link rel="stylesheet" href={% static 'simplesocial/css/master.css' %}>

    <title>Il mio social network</title>
  </head>
  <body>



    {% comment %} barra di navigazione {% endcomment %}
    <nav class="navbar mynav" role="navigation" id="navbar">

        <div class="container">

            <a href="{% url 'home' %}">Il mio social network™</a>

            <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}

                    
                    <li><a href="{% url 'posts:all' %}">Posts</a></li>
                    <li><a href="{% url 'posts:create' %}">Nuovo post</a></li>
                    <li><a href="{% url 'groups:all' %}">Gruppi</a></li>
                    {% comment %} <li><a href="{% url 'groups:create' %}">Nuovo gruppo</a></li> {% endcomment %}
                    <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                    <li><a href="{% url 'posts:for_user' username=user.username %}">User: {{user.username}}</a></li>

                {% else %}

                    {% comment %} <li><a href="{% url 'groups:all' %}">Gruppi</a></li> {% endcomment %}
                    <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>

                {% endif %}

            </ul>


        </div>
    </nav>

    

    <div class="container mycontent">
    

        {% block content %}

        

        {% endblock %}

    </div>

    <br><br><br>


  

    <!-- HTML direct styling -->
        <canvas id="c"></canvas>




  </body>

<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/master.css" %}> {% endcomment %}

<!-- JS -->
<script src="{% static "simplesocial/js/master.js" %}" type="text/javascript" ></script>





</html>
