{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

{% load static %}

    <h1>Benvenuti nel social network di Tommaso</h1>
    
    <br>

    <p>Ho costruito questo social network per esercitarmi nella programmazione web, 
    in particolare ho usato Django, HTML, JavaScript e CSS.</p>
    <p>Il background animato con Javascript è preso da <a target="_blank" href="https://codepen.io/">Codepen</a>.</p>
    


    



<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}
